/* AuthPage.css */
.auth-container {
    width: 400px;
    margin: 60px auto;
    padding: 30px;
    border-radius: 10px;
    background: #fefefe;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.auth-toggle {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.auth-toggle button {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    background: #e0e0e0;
    border: none;
    outline: none;
}

.auth-toggle .active {
    background: #4caf50;
    color: white;
}

.auth-box input {
    display: block;
    width: 90%;
    color: rgb(96, 95, 95);
    padding: 10px;
    margin: 12px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.auth-box button {
    padding: 10px 20px;
    background: rgb(214, 42, 42);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    margin-top: 10px;
}

.auth-box button:hover {
    background-color: rgb(160, 41, 41);
}

h2 {
    color: black;
}

input {
    background-color: whitesmoke;
}

p {
    color: grey;
}

.auth-link {
    color: red;
    cursor: pointer;
}